<h1 class="form-title">Formulário</h1>

<div class="row">
  <div class="col-lg-8 col-md-6 col-sm-3 row-title">
    Dados Pessoais
  </div>
  <div class="col-lg-4 col-md-6 col-sm-3 row-title">
    Seu Ingresso
  </div>
</div>



<div class="row">
  <div class="col-lg-8 col-md-6 col-sm-3 col-form">
    <form class="form-dados">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Primeiro Nome">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Último Nome">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="CPF">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Data de Nascimento">
        </div>
      </div>
    </form>

    <div class="form-group">

    <input  class="form-control" placeholder="Email">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-3 col-ingresso">
    Seu Ingresso
  </div>
</div>
