.form-title{
  font-weight: bold;
  font-size: 40px;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {

  padding: 20px;
  font-size: 30px;

}

.grid-title{

background-color: #F1F1F1;

}
