<h1 class="form-title">Formulário</h1>

<div class="row">
  <div class="col-lg-8 col-md-6 col-sm-3 row-title">Dados Pessoais</div>
  <div class="col-lg-4 col-md-6 col-sm-3 row-title">Seu Ingresso</div>
</div>

<!-- Trecho de código com formulário com os dados do user-->

<div class="row">
  <div class="col-lg-8 col-md-6 col-sm-3 col-form border-right border-dark">
    <form #formulario="ngForm" class="form-dados">
      <div class="row">
        <div class="col">
          <input
            [(ngModel)]="primeiroNome"
            required
            #nomeInput="ngModel"
            name="nomeInput"
            type="text"
            class="form-control"
            placeholder="Primeiro Nome"
          />
          <span
            class="text-danger"
            *ngIf="
              (nomeInput.touched || formulario.submitted) &&
              nomeInput.errors?.required
            "
          >
            Campo obrigatório!
          </span>
        </div>

        <div class="col">
          <input
            [(ngModel)]="sobrenome"
            required
            #sobreNomeInput="ngModel"
            type="text"
            name="sobreNomeInput"
            class="form-control"
            placeholder="Último Nome"
          />
          <span
            class="text-danger"
            *ngIf="
              (sobreNomeInput.touched || formulario.submitted) &&
              sobreNomeInput.errors?.required
            "
          >
            Campo obrigatório!
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <input
            [(ngModel)]="cpf"
            required
            #cpfInput="ngModel"
            name="cpf"
            type="text"
            class="form-control"
            placeholder="CPF"
          />
          <span
            class="text-danger"
            *ngIf="
              (cpfInput.touched || formulario.submitted) &&
              cpfInput.errors?.required
            "
          >
            Campo obrigatório!
          </span>
        </div>
        <div class="col">
          <input
            [(ngModel)]="dataDeNascimento"
            #dataDeNascimentoInput="ngModel"
            name="dataDeNascimento"
            required
            type="text"
            class="form-control"
            placeholder="Data de Nascimento"
          />
          <span
            class="text-danger"
            *ngIf="
              (dataDeNascimentoInput.touched || formulario.submitted) &&
              dataDeNascimentoInput.errors?.required
            "
          >
            Campo obrigatório!
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input
              [(ngModel)]="email"
              required
              #emailInput="ngModel"
              name="email"
              type="text"
              class="form-control"
              placeholder="Email"
            />
            <span
              class="text-danger"
              *ngIf="
                (emailInput.touched || formulario.submitted) &&
                emailInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="acompCheck"
            (change)="checked()"
          />
          <label class="form-check-label">Adicionar Acompanhante</label>
        </div>
      </div>

      <!-- Trecho do código para os dados do Acompanhante -->
      <div *ngIf="shown">
        <div class="row">
          <div class="col">
            <input
              [(ngModel)]="primeiroNomeAcompanhante"
              required
              #primeiroNomeAcompanhanteInput="ngModel"
              name="primeiroNomeAcompanhante"
              class="form-control"
              type="text"
              placeholder="Primeiro Nome"
            />
            <span
              class="text-danger"
              *ngIf="
                (primeiroNomeAcompanhanteInput.touched ||
                  formulario.submitted) &&
                primeiroNomeAcompanhanteInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
          <div class="col">
            <input
              [(ngModel)]="sobrenomeAcompanhante"
              required
              #sobrenomeAcompanhanteInput="ngModel"
              name="sobrenomeAcompanhante"
              class="form-control"
              type="text"
              class="form-control"
              placeholder="Último Nome"
            />
            <span
              class="text-danger"
              *ngIf="
                (sobrenomeAcompanhanteInput.touched || formulario.submitted) &&
                sobrenomeAcompanhanteInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <input
              [(ngModel)]="cpfAcompanhante"
              required
              #cpfAcompanhanteInput="ngModel"
              name="cpfAcompanhante"
              class="form-control"
              type="text"
              placeholder="CPF"
            />
            <span
              class="text-danger"
              *ngIf="
                (cpfAcompanhanteInput.touched || formulario.submitted) &&
                cpfAcompanhanteInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
          <div class="col">
            <input
              [(ngModel)]="dataNascimentoAcompanhante"
              required
              #dataNascimentoAcompanhanteInput="ngModel"
              name="dataNascimentoAcompanhante"
              type="text"
              class="form-control"
              placeholder="Data de Nascimento"
            />
            <span
              class="text-danger"
              *ngIf="
                (dataNascimentoAcompanhanteInput.touched ||
                  formulario.submitted) &&
                dataNascimentoAcompanhanteInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                [(ngModel)]="emailAcompanhante"
                required
                #emailAcompanhanteInput="ngModel"
                name="emailAcompanhante"
                type="text"
                class="form-control"
                placeholder="Email"
              />
              <span
                class="text-danger"
                *ngIf="
                  (emailAcompanhanteInput.touched || formulario.submitted) &&
                  emailAcompanhanteInput.errors?.required
                "
              >
                Campo obrigatório!
              </span>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <h3>Dados da Entrega</h3>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">CEP</label>
            <input
              class="form-control"
              #cepInput="ngModel"
              placeholder="CEP"
              [(ngModel)]="cep"
              required
              name="cep"
              type="text"
              (change)="recuperarEnderecoPorCep()"
            />
            <span
              class="text-danger"
              *ngIf="
                (cepInput.touched || formulario.submitted) &&
                cepInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCity">Endereço</label>
          <input
            type="text"
            required
            class="form-control"
            id="inputAddress"
            [(ngModel)]="logradouro"
            name="logradouro"
            oplaceholder="Endereço"
          />
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">Pais</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              [(ngModel)]="pais"
              name="pais"
              oplaceholder="País"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity">Estado</label>
            <select
              [(ngModel)]="estado"
              #estadoInput="ngModel"
              required
              name="estado"
              class="form-control col-md-4"
            >
              <option
                *ngFor="let estado of estadosOptions"
                value="{{ estado.id }}"
              >
                {{ estado.name }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                (estadoInput.touched || formulario.submitted) &&
                estadoInput.errors?.required
              "
            >
              Campo obrigatório!
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              id="inputCity"
              [(ngModel)]="localidade"
              name="localidade"
            />
          </div>
        </div>

        <button
          *ngIf="formulario.valid"
          type="submit"
          (click)="enviarForm()"
          id="submit"
          class="btn btn-primary"
        >
          Enviar
        </button>
      </form>
    </form>
  </div>

  <!-- Trecho do código com informação do ingresso -->
  <div class="col-lg-4 col-md-6 col-sm-3 col-ingresso">
    <div class="row">
      <div class="col">
        Selecione um filme para compra de ingresso:
        <select
          (change)="selecionado()"
          name="filme"
          [(ngModel)]="filmeSelecionado"
        >
          <option *ngFor="let movie of moviesOptions" [value]="movie.title">
            {{ movie.title }}
          </option>
        </select>
      </div>
    </div>

    <hr />
    <br />
    <div *ngIf="mostrar">
      <h4>Sub total: R$20,00<br /></h4>
      <h4>Frete: R$:10,00<br /></h4>
      <h3>Total: R$ 30,00<br /></h3>
    </div>
  </div>

  <br />
  <hr />
</div>
<hr />
