.form-title {
  font-size: 45px;
}

.row-title {
  padding-top: 30px;
  text-align: left;
  font-size: 30px;
  background-color: #EEEEEE;
  height: 100px;
}

.form-dados {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 13px;
}

.form-check-label {
  padding-bottom: 55px;
}

.ticket{

  width: 70%;
  padding: 30px;
}

hr{
  padding: 15px;
}
